.navbar{
    background-color: #003057;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #003060;
    margin-bottom: 10px;
    margin-left: -40px;
}

.title img.logo{
    margin-top: 5px;
    margin-left: 50px;
    /*height: 50px;
    width: 146px;*/
    padding: 10px 10px 10px 10px;
    height: 34px;
    width: 100px;
}
.barra_img{
    height: 40px;
    width: 40px;
}

.barra{
    color: white;
    font-size: 10px;
    text-align: center;
}