.navbar{
    background-color: #003056;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #003060;
    margin-bottom: 10px;
}

.navbar img{
    margin-top: 5px;
    margin-left: 50px;
    height: 50px;
    width: 146px;
}