<nav>
    <div class="title">
        <table width="100%">
            <tr>
                <td>
                    <img class="logo" alt="Alianza Fiduciaria" src="./assets/logo.png" />
                </td>
                <td style="vertical-align: middle;font-size:20px; font-weight: bold; text-align: right; color: whitesmoke; padding-right: 30px;">
                    Fondo de Pensiones Voluntarias
                </td>
                <td class="barra">
                    <img class="barra_img" src="./assets/user.png">
                    <br>
                    KAREN MEDINA
                </td>
            </tr>
        </table>
    </div>
</nav>