.navbar{
    background-color: white;
    width: 100%;
    height: 60px;
    border: 1px solid whitesmoke;
    margin-bottom: 10px;
}

.navbar img{
    margin-top: 5px;
    margin-left: 50px;
    height: 50px;
    width: 146px;
}