.container {
  padding: 20px;
  display: flex;
  flex-flow: wrap;
}
.row {
  display: flex;
  width: 100%;
}
.column-section-one__user-input {
  flex-basis: calc(100% / 4);
  background: rgba(0, 0, 0, 0.01);
  border: 0.5px solid rgba(0, 0, 0, 0.03);
}

.column-oficina {
  flex-basis: calc(100% / 2);
  background: rgba(0, 0, 0, 0.01);
  border: 0.5px solid rgba(0, 0, 0, 0.03);
}

#radiobtn {
  flex-basis: 36em;
  display: flex;
  align-items: center;
}

#dateInput {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intermedial-title {
  font-size: 14px;
}

.container__section-one,
.container__section-two {
  border: 0.5px solid rgba(0, 0, 0, 0.03);
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}
/* Angular Material */
.individualRB {
  margin: 5px;
}
.mat-form-field {
  padding-left: 5px;
  padding-top: 5px;
}
/* Second Section*/
.fondo,
.encargado,
.titular,
.valor-retiro,
.forma-pago,
.tipo-retiro,
.section-one__user-inputs {
  margin: 0 0 10px 0;
}
.column-fondo {
  flex-basis: calc(100% / 2);
  background: rgba(0, 0, 0, 0.01);
  border: 0.5px solid rgba(0, 0, 0, 0.03);
}
.column-encargado {
  flex-basis: calc(100% / 3);
  background: rgba(0, 0, 0, 0.01);
  border: 0.5px solid rgba(0, 0, 0, 0.03);
}
.column-titular,
.column-tipoR,
.column-formaP {
  flex-basis: calc(100% / 4);
  background: rgba(0, 0, 0, 0.01);
  border: 0.5px solid rgba(0, 0, 0, 0.03);
}

.column-valorR {
  flex-basis: calc(100% / 5);
  background: rgba(0, 0, 0, 0.01);
  border: 0.5px solid rgba(0, 0, 0, 0.03);
}
.column-observ {
  flex-basis: 100%;
  background: rgba(0, 0, 0, 0.01);
  border: 0.5px solid rgba(0, 0, 0, 0.03);
}
