.container {
  padding: 30px;
  display: flex;
  flex-flow: wrap;
}
.row {
  display: flex;
  width: 100%;
}
.column-section-one__user-input {
  flex-basis: calc(100%/2);
}

.column-section-one_user-radio {
  flex-basis: calc(100%/3);
}

.column-oficina {
  flex-basis: calc(100% / 2);
}

#radiobtn {
  flex-basis: 36em;
  display: flex;
  align-items: center;
}

#dateInput {
  align-items: center;
  justify-content: center;
}

.intermedial-title {
  font-size: 14px;
}

.container__section-one,
.container__section-two,
.container__section-table,
.divider {
  padding: 0px;
  margin-bottom: 0px;
  width: 100%;
}

.container__section-table{
  border-top: 1px solid #9e9e9e;
  border-bottom: 1px solid #9e9e9e;
}
.container__section-table .row:first-child{
  border-bottom: 1px solid #9e9e9e;
}
.container__section-table .row:last-child{
  border-top: 1px solid #9e9e9e;
}
/* Angular Material */
.individualRB {
  margin: 5px;
}
/* Second Section*/
.fondo,
.encargado,
.titular,
.valor-retiro,
.forma-pago,
.tipo-retiro,
.section-one__user-inputs {
  margin: 0 0 0px 0;
}
.column-fondo {
  flex-basis: calc(100%);
}
.column-encargado {
  flex-basis: calc(100%);
}
.column-titular,
.column-tipoR,
.column-formaP {
  flex-basis: calc(100%);
}

.column-valorR {
  flex-basis: calc(100%);
}
.column-observ {
  flex-basis: 100%;
}

.name{
  width: 400px !important;
}

.name-fondo{
  width: 700px !important;
}

.code {
  width: 35px;
  text-align: right !important;
}

.verification{
  width: 20px !important;
  text-align: center !important;
}
.verification-digit{
  width: 50px !important;
  text-align: center !important;
}

.persona{
  width: 680px !important;
}

.plan-inversion{
  width: 100px !important;
}

.nombre-plan{
  width: 250px !important;
}

.valor-retiro-input{
  text-align: right !important;
}
.nit-fex{
  margin-left: 20px;
}
.observaciones{
  width: 100% !important;
}

.divider .left,
.divider .right{
  float:left;
  height: auto;
  width: 50%;
}

.column-table, .column-table-disabled,
.column-table-disabled-bold {
  flex-basis: calc(100% / 9);
}

.column-table .mat-form-field, .column-table-disabled .mat-form-field,
.column-table-disabled-bold .mat-form-field{
  width: 135px !important;
}

.column-table-disabled .mat-form-field{
  color: black !important;
  opacity: 1;
}

.column-table-disabled ::ng-deep .mat-form-field-underline,
.column-table-disabled-bold ::ng-deep .mat-form-field-underline {
  display: none;
}
.column-table-disabled-bold .mat-form-field{
  font-weight: bold;
}


tr.mat-footer-row {
  font-weight: bold;
}

.section-card{
  left: 5%;
  width: 90%;
  margin-top: 10px;
}

.mat-form-field{
  font-size: 12px !important;
  margin-right: 20px;
  margin-bottom: 5px;
  /*border: solid 2px blue;*/
  height: 35px;
}

.prueba{
  width: 40%;
}

.tarjeta{
  width: 100%;
  height: 90px;
  margin-right: 30px;
}

.tarjeta2{
  left: 5%;
  width: 90%;
  height: 800px;
}

.tarjeta3{
  width: 95%;
}

.fill{
  height: 90%;
}

.tarjeta3 table{
  width: 90%;
}

.cabecera{
  left: 5%;
  width: 94.5%;
  height: 150px;
}

.user{
  width: 60px !important;
}

.text{
  text-align: left;
}

.mat-radio-group{
  font-size: 11px;
  margin-right: 20px;
}

.mat-card-title{
  font-size: 15px !important;
  font-weight: bold !important;
}

.descripcion_campo{
  margin-left: -10px;
  margin-right: 30px;
}

.contenido td{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: none;
  margin-top: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: table-cell;
  vertical-align: middle;
}

.contenido{
  margin-top: 0px;
  margin-bottom: 0px;
  border-spacing: 0px;
}

.info_field ::ng-deep .mat-form-field-underline {
  display: none;
}

.description_field{
  width: 220px !important;
}

.description_encargo{
  width: 200px !important;
}

.description_field input{
  width: 250px !important;
}

.saldos{
 margin: 0 auto;
 width: 79%;
}

.titular_info {
  width: 80px !important;
}

.campo {
  width: 120px !important;
}

.center{
  text-align: center;
}

.resumen{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.td_padding{
  padding: 4px 10px 10px 30px;
}
.table {
  border-collapse: separate;
  border-spacing: 10px 7px;
}
.titulo_bloque {
  padding-bottom:0px;
  margin: 0px 0px 0px -10px;
}
#top_error{
  /*border: 2px saddlebrown solid !important;*/
  margin-top:18px;
}