<div class="container">
<!-- First section -->
<div class="container__section-one">
<div class="row section-one__user-inputs">

  <div class="column-section-one__user-input">
    <mat-form-field>
    <input matInput placeholder="Usuario" (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
  </mat-form-field>
  </div>

  <div class="column-section-one__user-input">
    <mat-form-field>
      <input matInput disabled (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="username">
    </mat-form-field>
  </div>

  <div id="radiobtn" class="column-section-one__user-input">
    <div>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button class="individualRB" value="1" checked>Fecha del Fondo</mat-radio-button>
        <mat-radio-button class="individualRB" value="2">Día Siguiente</mat-radio-button>
        <mat-radio-button class="individualRB" value="3">Fecha Futura</mat-radio-button>
      </mat-radio-group>
    </div>
    </div>

    <div id="dateInput" class="column-section-one__user-input">
        <mat-form-field>
          <input type="date" matInput placeholder="Fecha" (keydown.enter)="onKeydown($event, 2)" [(ngModel)]="fecha">
        </mat-form-field>
      </div>
</div>
  <div class="row section-one__office">
    <div class="column-oficina">
      <mat-form-field>
        <input tab-directive type="text" placeholder="oficina" matInput [formControl]="myControl" [matAutocomplete]="auto" (keydown.enter)="onKeydown($event, 1)">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onKeydown($event, 1)">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.nombre">
            {{option.nombre}}
          </mat-option>
          <!-- First section-END -->
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="column-oficina">
      <mat-form-field>
        <input tab-directive type="text" placeholder="oficina" matInput [formControl]="myControl" [matAutocomplete]="auto" (keydown.enter)="onKeydown($event, 1)">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onKeydown($event, 1)">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.nombre">
            {{option.nombre}}
          </mat-option>
          <!-- First section-END -->
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
  <div class="row section-one__date-aplications-input">

  </div>
<div class="row section-one__date-input">

</div>
<!-- <br> -->
</div>
<h1 class="intermedial-title">Identificación de la operación</h1>

<!-- Second section -->
<div class="container__section-two">
  <div class="row fondo">
    <div class="column-fondo">
      <mat-form-field class="globalPading">
        <input matInput (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
      </mat-form-field>
    </div>
    <div class="column-fondo">
      <mat-form-field class="globalPading">
        <input matInput disabled (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
      </mat-form-field>
    </div>
  </div>
  <div class="row encargado">
    <div class="column-encargado">
      <mat-form-field>
            <input tab-directive type="text" placeholder="Encargo" matInput [formControl]="myControl" [matAutocomplete]="auto" (keydown.enter)="onKeydown($event, 1)">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onKeydown($event, 1)">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.nombre">
                {{option.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </div>
    <div class="column-encargado">
      <mat-form-field>
        <input matInput (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
      </mat-form-field>
    </div>
    <div class="column-encargado">
      <mat-form-field>
        <input matInput  disabled (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
      </mat-form-field>
    </div>
  </div>

<div class="row titular">
<div class="column-titular">
    <mat-form-field>
        <input matInput disabled (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
      </mat-form-field>
</div>
<div class="column-titular">
  <mat-form-field>
    <input matInput disabled (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
  </mat-form-field>
</div>
<div class="column-titular">
    <mat-form-field>
        <input matInput disabled (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
      </mat-form-field>
</div>
<div class="column-titular">
    <mat-form-field>
        <input matInput disabled (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
      </mat-form-field>
</div>
</div>
<div class=" row tipo-retiro">
  <div class="column-tipoR">
    <mat-form-field>
      <input tab-directive type="text" placeholder="Tipo de Retiro" matInput [formControl]="myControl" [matAutocomplete]="auto" (keydown.enter)="onKeydown($event, 1)">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onKeydown($event, 1)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.nombre">
          {{option.nombre}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="column-tipoR">
  <mat-form-field>
      <input matInput disabled (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
    </mat-form-field>
  </div>
  <div class="column-tipoR">
    <mat-form-field>
      <input matInput disabled (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
    </mat-form-field>
  </div>
  <div class="column-tipoR">
    <mat-form-field>
      <input matInput disabled (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
    </mat-form-field>
  </div>
</div>

<div class="row valor-retiro">
  <div class="column-valorR">
    <mat-form-field>
      <input matInput (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
    </mat-form-field>
  </div>
  <div class="column-valorR">
    <mat-form-field>
      <input matInput (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
    </mat-form-field>
  </div>
  <div class="column-valorR">
    <mat-checkbox>
      Fondo Externo
    </mat-checkbox>
  </div>
  <div class="column-valorR">
    <mat-form-field>
      <input matInput (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
    </mat-form-field>
  </div>
  <div class="column-valorR">
    <mat-form-field>
      <input matInput disabled (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
    </mat-form-field>
  </div>
</div>
<div class=" row forma-pago">
  <div class="column-formaP">
    <mat-form-field>
      <input tab-directive type="text" placeholder="Forma de Pago" matInput [formControl]="myControl" [matAutocomplete]="auto" (keydown.enter)="onKeydown($event, 1)">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onKeydown($event, 1)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.nombre">
          {{option.nombre}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="column-formaP">
    <mat-form-field>
      <input matInput disabled (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
    </mat-form-field>
  </div>
  <div class="column-formaP">
    <mat-form-field>
      <input matInput disabled (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
    </mat-form-field>
  </div>
  <div class="column-formaP">
    <mat-form-field>
      <input matInput disabled (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
    </mat-form-field>
  </div>
</div>

<div class="row observaciones">
  <div class="column-observ">
    <mat-form-field>
      <input matInput (keydown.enter)="onKeydown($event, 0)" [(ngModel)]="user">
    </mat-form-field>
  </div>
</div>
</div>
<!-- Second section-END -->
</div>
<router-outlet></router-outlet>
